.nav-tabs .nav-link.active {
    background-color: #4e73df !important;
    color: white !important;
}

.sidebar-brand-icon img {
    max-width: 60px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Efek bayangan lembut */
}

.sipelita-text {
    font-size: 1.3rem;
    /* Ukuran font */
    font-weight: bold;
    /* Membuat teks tebal */
    color: #ffffff;
    /* Warna teks */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Efek timbul pada teks */
}


.profile-text {
    display: flex;
    flex-direction: column;
    /* Agar h2 dan p berbaris secara vertikal */
}

/* Default: Tampilan untuk layar besar (laptop atau monitor) */
.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 16px;
}

/* Responsif untuk layar ponsel dan tablet */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        /* Menyusun elemen dalam kolom pada layar kecil */
        align-items: center;
        text-align: center;
    }

    .profile-img {
        margin-right: 0;
        /* Hilangkan margin kanan untuk center alignment */
        margin-bottom: 10px;
        /* Tambahkan margin bawah */
    }
}

h3,
#timeDisplay {
    margin: 0;
    /* Menghapus margin default pada h3 dan p */
}

.status-pending {
    color: blue !important;
    font-weight: 700;
}

.status-approved {
    color: green !important;
    font-weight: 700;
}

.status-rejected {
    color: red !important;
    font-weight: 700;
}

/*status button pada tabel*/
.status-button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Diterima - Hijau */
.accepted {
    background-color: #e6f4ea;
    color: #28a745;
    border: 1px solid #28a745;
}

/* Ditolak - Merah */
.rejected {
    background-color: #fce8e6;
    color: #dc3545;
    border: 1px solid #dc3545;
}

/* Diproses - Biru */
.in-belum {
    background-color: #ffc107;
    /* Kuning */
    color: #212529;
    border: 1px solid #ffc107;
    /* Kuning */
}

.in-process {
    background-color: #e7f3fe;
    color: #007bff;
    border: 1px solid #007bff;
}

/* Detail - Cyan */
.detail {
    background-color: #e0f7fa;
    color: #00bcd4;
    border: 1px solid #00bcd4;
}

.status-button .dot {
    height: 10px;
    width: 10px;
    background-color: currentColor;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

/* Titik merah untuk notifikasi yang belum dibaca */
.unread-indicator {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: red !important;
    position: absolute !important;
    right: 10px !important;
}

    .bg-kustom {
        background-color: #e3f5f5 !important;
    }


